<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294674033214-h2toh827ouil0hdvg3t4ud7t1dolf250.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294674033214-h2toh827ouil0hdvg3t4ud7t1dolf250</string>
	<key>API_KEY</key>
	<string>AIzaSyDuM604trtR5C5uE-T7o9Mzr-QJAvO0ge4</string>
	<key>GCM_SENDER_ID</key>
	<string>294674033214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackingApp</string>
	<key>PROJECT_ID</key>
	<string>tracking-app-4195f</string>
	<key>STORAGE_BUCKET</key>
	<string>tracking-app-4195f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294674033214:ios:e514a41dd7eb09a7a27f6f</string>
</dict>
</plist>